---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import profilePic from "../assets/images/profile-pic.jpg";
import profilePicSm from "../assets/images/profile-pic-sm.jpg";
import elephantPic from "../assets/images/elephant.jpg";
import bgArtPic from "../assets/images/background-art.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Matheus Escobar</title>
  </head>
  <body class="bg-[url('../assets/images/background.jpg')] bg-cover bg-center">
    <div class="grid grid-cols-12 gap-4 p-4 md:p-6 min-h-screen">
      <!-- Card principal -->
      <div
        class="col-span-12 md:col-span-8 bg-[#A9BEB5] p-6 rounded-2xl shadow-lg"
      >
        <div class="flex flex-col md:flex-row gap-6 items-start h-full">
          <!-- Texto -->
          <div class="flex flex-col items-center md:block md:items-start">
            <h2
              class="font-kame-poster-black text-3xl md:text-5xl text-[#0F0E0C] text-center md:text-left"
            >
              Matheus Fontes Escobar
            </h2>
            <h3
              class="font-kame-poster-black text-xl md:text-3xl text-[#0F0E0C]"
            >
              Psicologia / Psicanálise
            </h3>
            <div
              class="inline-block md:hidden p-1 rounded-xl border border-[rgba(140,120,110,0.4)] bg-[rgba(140,120,110,0.1)]"
            >
              <Image
                src={profilePicSm}
                alt="Foto de Matheus Escobar"
                class="h-auto w-64 rounded-full object-contain"
              />
            </div>
            <div
              class="w-full block md:hidden col-span-12 md:col-span-4 bg-[#6D958D] p-6 rounded-2xl shadow-lg my-2"
            >
              <ul class="flex w-full justify-around gap-2">
                <!-- LinkedIn -->
                <li>
                  <a
                    href="https://www.google.com"
                    target="_blank"
                    class="flex items-center gap-3 bg-white/10 hover:bg-white/20 transition-colors duration-200 text-gray-100 px-2 py-2 rounded-full shadow-sm"
                  >
                    <Icon name="linkedin" class="w-8 h-8 text-white" />
                  </a>
                </li>

                <!-- Facebook -->
                <li>
                  <a
                    href="https://facebook.com/matheusescobar"
                    target="_blank"
                    class="flex items-center gap-3 bg-white/10 hover:bg-white/20 transition-colors duration-200 text-gray-100 px-2 py-2 rounded-full shadow-sm"
                  >
                    <Icon name="facebook" class="w-8 h-8 text-white" />
                  </a>
                </li>

                <!-- WhatsApp -->
                <li class="">
                  <a
                    href="http://wa.me/message/SJGECTICG6M7L1"
                    target="_blank"
                    class="flex items-center gap-3 bg-white/10 hover:bg-white/20 transition-colors duration-200 text-gray-100 px-2 py-2 rounded-full shadow-sm"
                  >
                    <Icon name="whatsapp" class="w-8 h-8 text-white" />
                  </a>
                </li>

                <!-- Email -->
                <li class="">
                  <a
                    href="mailto:escobarmatheus@hotmail.com"
                    target="_blank"
                    class="flex items-center gap-3 bg-white/10 hover:bg-white/20 transition-colors duration-200 text-gray-100 px-2 py-2 rounded-full shadow-sm"
                  >
                    <Icon name="email" class="w-8 h-8 text-white" />
                  </a>
                </li>
              </ul>
            </div>

            <p class="text-[#0F0E0C] mt-2 text-sm md:text-base">
              Me chamo Matheus Escobar, sou Psicólogo pela UFRGS. Atendo online
              e presencialmente em Campinas, no estado de São Paulo. A terapia é
              um caminho, que seguiremos em conjunto, na busca de encontrar a
              origem das causas de sua angústia.
            </p>
            <p class="text-[#0F0E0C] mt-2 text-sm md:text-base">
              Poderá se conhecer melhor, organizar-se e buscar as melhores
              soluções para o que te embarreira. Atendo sob a perspectiva da
              Psicanálise, por acreditar na singularidade de cada pessoa que
              chega a mim, entendendo que cada história é única e merece atenção
              particular.
            </p>
          </div>

          <!-- Imagem -->
          <div
            class="hidden md:block flex-shrink-0 max-h-[50vh] max-w-full w-full md:w-auto"
          >
            <div
              class="p-1 rounded-xl border border-[rgba(140,120,110,0.4)] bg-[rgba(140,120,110,0.1)]"
            >
              <Image
                src={profilePic}
                alt="Foto de Matheus Escobar"
                class="h-auto max-h-[40vh] md:w-auto max-w-full rounded-lg object-contain"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Texto secundário -->
      <div
        class="hidden md:block col-span-12 md:col-span-4 bg-[#6D958D] p-6 rounded-2xl shadow-lg"
      >
        <h3 class="text-xl font-semibold text-gray-100 mb-4">Contato</h3>
        <ul class="space-y-3">
          <!-- LinkedIn -->
          <li>
            <a
              href="https://www.linkedin.com/in/matheusescobar"
              target="_blank"
              class="flex items-center gap-3 bg-white/10 hover:bg-white/20 transition-colors duration-200 text-gray-100 px-4 py-2 rounded-xl shadow-sm"
            >
              <Icon name="linkedin" class="w-5 h-5 text-white" />
              /in/escobar-matheus/
            </a>
          </li>

          <!-- Facebook -->
          <li>
            <a
              href="https://facebook.com/matheusescobar"
              target="_blank"
              class="flex items-center gap-3 bg-white/10 hover:bg-white/20 transition-colors duration-200 text-gray-100 px-4 py-2 rounded-xl shadow-sm"
            >
              <Icon name="facebook" class="w-5 h-5 text-white" />
              <span>Matheus Escobar</span>
            </a>
          </li>

          <!-- WhatsApp -->
          <li>
            <a
              href="http://wa.me/message/SJGECTICG6M7L1"
              target="_blank"
              class="flex items-center gap-3 bg-white/10 hover:bg-white/20 transition-colors duration-200 text-gray-100 px-4 py-2 rounded-xl shadow-sm"
            >
              <Icon name="whatsapp" class="w-5 h-5 text-white" />
              (51) 9569-6574
            </a>
          </li>
          <!-- Email -->
          <li class="shrink-0">
            <a
              href="mailto:escobarmatheus@hotmail.com"
              target="_blank"
              class="flex items-center gap-3 bg-white/10 hover:bg-white/20 transition-colors duration-200 text-gray-100 px-4 py-2 rounded-xl shadow-sm"
            >
              <Icon name="email" class="w-5 h-5 text-white shrink-0" />
              <span
                class="truncate w-full overflow-hidden text-ellipsis whitespace-nowrap"
                title="escobarmatheus@hotmail.com"
              >
                escobarmatheus@hotmail.com
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div
        class="col-span-12 md:col-span-2 rounded-2xl shadow-lg overflow-hidden max-h-[35vh]"
      >
        <Image
          src={bgArtPic}
          alt="Arte de fundo"
          class="w-full h-full object-cover rounded-xl"
        />
      </div>
      <div
        class="col-span-12 md:col-span-2 rounded-2xl shadow-lg overflow-hidden max-h-[35vh]"
      >
        <Image
          src={elephantPic}
          alt="Arte de fundo"
          class="w-full h-full object-cover rounded-xl"
        />
      </div>

      <!-- Texto secundário -->
      <div
        class="col-span-12 md:col-span-8 bg-[#9EA675] p-6 rounded-2xl shadow-lg max-h-[35vh]"
      >
        <h3 class="text-xl font-semibold text-[#0F0E0C]">
          Escrever alguns cursos/experiência aqui em tópicos?
        </h3>
        <p class="text-[#0F0E0C] mt-2">Ferrumetum nulla...</p>
        <!-- <Button class="mt-4">Learn More</Button> -->
      </div>
    </div>
  </body>
</html>
